@model InventoryUi.ViewModel.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}



<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_ProfileHeader", Model)
        </div>
        <div class="col-md-8 offset-md-1">
            <div class="profile-details">
                <ul class="nav nav-tabs" id="profileTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="overview-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="edit-profile-tab" data-bs-toggle="tab" href="#edit-profile" role="tab" aria-controls="edit-profile" aria-selected="false">Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="settings-tab" data-bs-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="change-password-tab" data-bs-toggle="tab" href="#change-password" role="tab" aria-controls="change-password" aria-selected="false">Change Password</a>
                    </li>
                </ul>
                <div class="tab-content" id="profileTabContent">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                        @Html.Partial("_ProfileDetails", Model)
                    </div>
                    <div class="tab-pane fade" id="edit-profile" role="tabpanel" aria-labelledby="edit-profile-tab">
                        @Html.Partial("_EditProfile", Model)
                    </div>
                    <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                        <!-- Settings Content -->
                    </div>
                    <div class="tab-pane fade" id="change-password" role="tabpanel" aria-labelledby="change-password-tab">
                        @Html.Partial("_ChangePassword", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts  {
    <script type="module" src="~/js/profile.js"></script>
}