@model InventoryUi.ViewModel.ProductListVm
@{
    ViewData["Title"] = "Serch";
}

<div class="d-flex justify-content-between align-items-center p-3">
    <p class="fs-5 text-muted">Showing @Model.Products.Count() results for</p>
    <div class="d-flex">
        <p class="me-4"> Sort By </p>
        <a>Price</a>
    </div>
</div>

<section>
    <div class="row">
        <div class="col-md-2">
            <div class="d-flex justify-content-between align-items-center px-3">
                <p>Filter</p>
                <p>Result</p>
            </div>
            <hr class="text-muted" />
           
            <div class="px-3">
                <p>Category</p>
                <div id="category-list">
                    
                </div>
            </div>

        </div>
        <div class="col-md-10">
            <div id="product-container" class="row">
                
            </div>


            <!-- Pagination -->
            <div id="pagination" class="d-flex justify-content-center mt-4">
                <!-- Pagination buttons will be appended here -->
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script type="module" src="~/js/home/productandcatagory.js" asp-append-version="true"></script>
}
