@model InventoryUi.Models.User

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-md-6"> 
                                <h3 class="card-title font-weight-bold fs-1 color-primary">Users List</h3>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end ">
                                  <a id="CreateUserBtn" class="btn btn-success"> <i class="fa fa-plus"></i> Create New Users</a>
                            </div>
                        </div>
                    </div>
                    <div id="successMessage" class="alert alert-success" role="alert" style="display: none;">
                        <button id="btnClose" type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div id="globalErrorMessage" class="alert alert-danger" role="alert" style="display: none;">
                        <button id="btnClose" type="button" class="btn-close" aria-label="Close"></button>
                    </div>

                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="UsersTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>



<!-- Modal -->
<div class="modal fade" id="modelCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabelAddEmployee" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="max-width: 65%; max-height: 80%;">
        <div class="modal-content" style="height: 100%; overflow: hidden;">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelAddEmployee">Add User</h4>
                <h4 class="modal-title" style="display:none;" id="myModalLabelUpdateEmployee">Update User</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="height: calc(100% - 60px); overflow-y: auto;">
                <form id="UserForm">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input asp-for="FirstName" placeholder="Enter first Name" class="form-control" name="FirstName" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" placeholder="Enter Last Name " class="form-control" name="LastName" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UserName" class="control-label"></label>
                                    <input asp-for="UserName" placeholder="Enter User Name" class="form-control" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                    <div id="UserError" class="text-danger" role="alert" style="display: none;"></div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" placeholder="Enter Email" class="form-control" name="Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <div id="EmailError" class="text-danger" role="alert" style="display: none;"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                    <input asp-for="PhoneNumber" placeholder="Enter Phone Number" class="form-control" name="PhoneNumber" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" type="password" placeholder="Enter Password" class="form-control" name="Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <div id="PasswordError" class="text-danger" role="alert" style="display: none;"></div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmationPassword" class="control-label"></label>
                                    <input asp-for="ConfirmationPassword" type="password" placeholder="Confirm your Password" class="form-control" name="ConfirmationPassword" />
                                    <span asp-validation-for="ConfirmationPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="RoleName"></label>
                                    <select class="form-control" asp-for="RoleName" id="RolesDropdown">
                                        <option value="">Select role</option>
                                    </select>
                                </div>
                                <div class="form-group mt-5 form-check">
                                    <input asp-for="isEmployee" type="checkbox" class="form-check-input" id="IsEmployeeCheckbox" />
                                    <label asp-for="isEmployee" class="form-check-label" for="IsEmployeeCheckbox">Employee</label>
                                    <span asp-validation-for="isEmployee" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                <button type="button" class="btn btn-primary" id="btnUpdate">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


 








<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteAndDetailsModel" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure you want to delete the following User ?
            </div>
            <div id="DeleteErrorMessage" class="modal-header" role="alert" style="display: none;">
                <!-- Error message will be displayed here if deletion fails -->
            </div>
            <div class="modal-body" id="companyDetails">
                <!-- Company details will be populated dynamically by jQuery -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnDelete">Delete</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div> 


@section Scripts {
    <script type="module" src="~/js/dashboard/dashboarduser.js"></script>
}