
@model InventoryUi.ViewModel.DashboirdUserVm

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-md-6"> 
                                <h3 class="card-title font-weight-bold fs-1 color-primary">Users List</h3>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end ">
                                  <a id="CreateUserBtn" class="btn btn-success"> <i class="fa fa-plus"></i> Create New Users</a>
                            </div>
                        </div>
                    </div>
                    <div id="successMessage" class="alert alert-success" role="alert" style="display: none;">
                        <button id="btnClose" type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div id="globalErrorMessage" class="alert alert-danger" role="alert" style="display: none;">
                        <button id="btnClose" type="button" class="btn-close" aria-label="Close"></button>
                    </div>

                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="UsersTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>



<!-- Modal -->
<div class="modal fade" id="modelCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabelAddEmployee" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="max-width: 65%; max-height: 80%;">
        <div class="modal-content" style="height: 100%; overflow: hidden;">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelAddEmployee">Add User</h4>
                <h4 class="modal-title" style="display:none;" id="myModalLabelUpdateEmployee">Update User</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="height: calc(100% - 60px); overflow-y: auto;">
                <form id="UserForm">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="User.Id" value="User.Id" id="UserId" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="User.FirstName" class="control-label"></label>
                                    <input asp-for="User.FirstName" placeholder="Enter first Name" class="form-control"  id="FirstName" />
                                    <span asp-validation-for="User.FirstName" id="FirstName" class="text-danger"></span>
                                </div>
                                
                                <div class="form-group">
                                    <label asp-for="User.LastName" class="control-label"></label>
                                    <input asp-for="User.LastName" placeholder="Enter Last Name " class="form-control" id="LastName"  />
                                    <span asp-validation-for="User.LastName" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="User.UserName" class="control-label"></label>
                                            <input asp-for="User.UserName" placeholder="Enter User Name" class="form-control" id="UserName" />
                                            <span asp-validation-for="User.UserName" class="text-danger"></span>
                                            <div id="UserError" class="text-danger" role="alert" style="display: none;"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 my-auto " >
                                        <div class="d-flex align-items-center justify-content-center">
                                           <div>
                                                <input asp-for="User.isEmployee" type="checkbox" class="form-check-input" id="IsEmployeeCheckbox" />
                                                <label asp-for="User.isEmployee" class="form-check-label ms-2" for="IsEmployeeCheckbox">IsEmployee</label>
                                                <span asp-validation-for="User.isEmployee" class="text-danger ms-3"></span>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="employeeSection" style="display: none;">
                                    <partial id="EmpPartial">
                                       @* @await Html.PartialAsync("_isEmployeeSection", Model) *@
                                        <partial name="_isEmployeeSection" model="Model" />
                                    </partial>
                                    
                                </div>

                               
                                
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="User.Email" class="control-label"></label>
                                    <input asp-for="User.Email" placeholder="Enter Email" class="form-control" id="Email" />
                                    <span asp-validation-for="User.Email" class="text-danger"></span>
                                    <div id="EmailError" class="text-danger" role="alert" style="display: none;"></div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="User.PhoneNumber" class="control-label"></label>
                                    <input asp-for="User.PhoneNumber" placeholder="Enter Phone Number" id="PhoneNumber" class="form-control"  />
                                    <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="User.Password" class="control-label"></label>
                                            <input asp-for="User.Password" type="password" placeholder="Enter Password" id="Password" class="form-control"  />
                                            <span asp-validation-for="User.Password" class="text-danger"></span>
                                            <div id="PasswordError" class="text-danger" role="alert" style="display: none;"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6  ">
                                        <div class="form-group">
                                            <label asp-for="User.ConfirmationPassword" class="control-label"></label>
                                            <input asp-for="User.ConfirmationPassword" type="password" id="ConfirmationPassword" placeholder="Confirm your Password" class="form-control"  />
                                            <span asp-validation-for="User.ConfirmationPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="User.RoleName"></label>
                                    <select class="form-control" asp-for="User.RoleName" id="RolesDropdown">
                                        <option value="">Select role</option>
                                    </select>
                                </div>
                               

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                <button type="button" class="btn btn-primary" id="btnUpdate">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


 







@await Html.PartialAsync("~/Views/Shared/_DeleteModel.cshtml")

@await Html.PartialAsync("~/Views/Company/_CreateCompanyModel.cshtml", Model.Company)
@await Html.PartialAsync("~/Views/Branch/_CreateBranchModel.cshtml", Model.Branch) 

@section Scripts {
    
    <script type="module" src="~/js/dashboard/dashboarduser.js" asp-append-version="true"></script>
}










