@model InventoryUi.ViewModel.NewOrderVm
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="m-2">
    <div class="row">
        <!-- Product Section -->
        <div class="col-md-8">
            <div class="mb-3">
                <!-- Search Product -->
                <div class="row mb-3">
                    <label class="col-form-label col-2 text-1xl me-2" for="selectProduct">Select Product:</label>

                    <div class="col-9">
                        <form asp-action="AddToCart" id="addProductForm" method="post" class="d-flex">
                            <!-- This input field is used for searching -->
                            <input type="text" id="tags" class="form-control me-2" placeholder="Type to search products..." />
                            <!-- This hidden input field is used to store the selected productId -->
                            <input type="hidden" id="selectedProductId" name="productId" />
                        </form>
                    </div>

                    <div class="col-1 d-flex justify-content-between">
                        <button id="addNewProductButton" class="btn btn-success" title="Add Product"><i class="fa fa-plus"></i></button>
                         
                    </div>

                </div>

                <!-- Product Table -->
                <div class="table-responsive " id="ProductListPartial">
                    @await Html.PartialAsync("_ProductListPartial", Model)
                </div>
            </div>
        </div>
        <!-- Customer and Payment Section -->
        <div class="col-md-4 h-100 " id="ProductVawser">
            @await Html.PartialAsync("_ProductVawser", Model)
        </div>
    </div>
    <!-- Container for dynamically loaded modal -->
    <div id="modalSuccess"></div>
</div>
@await Html.PartialAsync("_CreateProductModal", Model)
@await Html.PartialAsync("_SuccessModal", Model)

@section Scripts {
    <script type="module" src="~/js/powerofsales/neworder.js" asp-append-version="true"></script>
}

