@model InventoryUi.ViewModel.ProfileViewModel
@using System.Security.Claims
@using Microsoft.IdentityModel.JsonWebTokens
@{
    var userId = string.Empty;
    if (User.Identity.IsAuthenticated)
    {
        var claimsIdentity = User.Identity as ClaimsIdentity;
        if (claimsIdentity != null)
        {
            // Extract the user ID from claims
            var userIdClaim = claimsIdentity.FindFirst("UserId") ?? claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);
            if (userIdClaim != null)
            {
                userId = userIdClaim.Value;
            }
        }
    }
}
<div id="error-messages">
    @if (ViewData.ModelState.IsValid == false)
    {
        <div class="alert alert-danger" role="alert">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }
</div>

<form id="change-password-form" >
    <input type="hidden" id="userID" name="userId" value="@userId">
    <div class="mb-3">
        <label asp-for="ChangePassword.OldPassword" class="form-label">Old Password</label>
        <input type="password" class="form-control" id="OldPassword" name="OldPassword" placeholder="Enter old password" required>
        <span class="text-danger" id="oldPasswordError"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ChangePassword.NewPassword" class="form-label">New Password</label>
        <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="Enter new password" required>
        <span class="text-danger" id="newPasswordError"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ChangePassword.ConfirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm new password" required>
        <span class="text-danger" id="confirmPasswordError"></span>
    </div>
    <button id="submitBtn" class="btn mt-3 btn-primary">Change Password</button>
</form>
