@model InventoryUi.ViewModel.ProfileViewModel

<h4>About</h4>
@{
    if (Model?.User.About != null)
    {
        <p>@Model?.User.About</p>
    }
    else
    {
        <p>Please Update About Yourself</p>
    }
}
<h4>Profile Details</h4>
<p><strong>Full Name:</strong> @Model?.User.FirstName @Model?.User.LastName</p>
<p><strong>Job:</strong> @Model?.User.Job</p>
<p><strong>Country:</strong> @Model?.User.Country</p>
<p><strong>Address:</strong> @Model?.User.Address</p>
<p><strong>Phone:</strong> @Model?.User.PhoneNumber</p>
<p><strong>Email:</strong> @Model?.User.Email</p>
