@model InventoryUi.Models.Leave
@using System.Security.Claims
@using Microsoft.IdentityModel.JsonWebTokens

@{
    var userName = string.Empty;

    if (User.Identity.IsAuthenticated)
    {
        var claimsIdentity = User.Identity as ClaimsIdentity;
        if (claimsIdentity != null)
        {
            // Extract the username from claims
            var userNameClaim = claimsIdentity.FindFirst(ClaimTypes.Name);
            if (userNameClaim != null)
            {
                userName = userNameClaim.Value;
            }
        }
    }
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title font-weight-bold fs-1 color-primary">Leave List</h3>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end ">
                                <a id="CreateLeaveBtn" class="btn btn-success"> <i class="fa fa-plus"></i> Create New Leave</a>
                            </div>
                        </div>
                    </div>
                    <div id="successMessage" class="alert alert-success" role="alert" style="display: none;">
                        <button id="btnClose" type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div id="globalErrorMessage" class="alert alert-danger" role="alert" style="display: none;">
                        <button id="btnClose" type="button" class="btn-close" aria-label="Close"></button>
                    </div>

                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="LeaveTable" class="table table-bordered table-striped">

                            <thead>
                                <tr>
                                    <th>Employee Name</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Leave Type</th>
                                    <th>Reason</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

@await Html.PartialAsync("~/Views/Leave/_CreateLeaveModel.cshtml", Model)
@await Html.PartialAsync("~/Views/Shared/_DeleteModel.cshtml")


@section Scripts {
    <script type="module" src="~/js/dashboard/leave.js" asp-append-version="true"></script>
}