@model InventoryUi.Models.Payment
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="card-title font-weight-bold fs-1 color-primary">Payment List</h3>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end ">
                                <a id="CreateBtn" class="btn btn-success"> <i class="fa fa-plus"></i> Create New Payment</a>
                            </div>
                        </div>
                    </div>
                    <div id="successMessage" class="alert alert-success" role="alert" style="display: none;">
                        <button id="btnClose" type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div id="globalErrorMessage" class="alert alert-success" role="alert" style="display: none;">
                        <button id="btnClose" type="button" class="btn-close" aria-label="Close"></button>
                    </div>

                    <!-- /.card-header -->

                    <div class="card-body">
                        <table id="PaymentTable" class="table table-bordered table-striped">

                            <thead>
                                <tr>
                                    <th>Order Date</th>
                                    <th>Date</th>
                                    <th>Method</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>



<!-- Modal -->
<div class="modal fade" id="modelCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabelAddEmployee" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="max-width: 65%; max-height: 80%;">
        <div class="modal-content" style="height: 100%; overflow: hidden;">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelAddEmployee">Add Payment</h4>
                <h4 class="modal-title" style="display:none;" id="myModalLabelUpdateEmployee">Update Payment</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="height: calc(100% - 60px); overflow-y: auto;">
                <form id="PaymentForm">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" asp-for="OrderID"></label>
                                    <select class="form-control" asp-for="OrderID" id="Orderdropdown">
                                        <option value="">Select order</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PaymentDate" class="control-label"></label>
                                    <input asp-for="PaymentDate" placeholder="Enter payment date (e.g., 2024-08-15)" class="form-control" name="PaymentDate" />
                                    <span asp-validation-for="PaymentDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PaymentMethod" class="control-label"></label>
                                    <input asp-for="PaymentMethod" placeholder="Enter payment method (e.g., Credit Card)" class="form-control" name="PaymentMethod" />
                                    <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Amount" class="control-label"></label>
                                    <input asp-for="Amount" placeholder="Enter amount (e.g., 100.00)" class="form-control" name="Amount" />
                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PaymentStatus" class="control-label"></label>
                                    <input asp-for="PaymentStatus" placeholder="Enter payment status (e.g., Paid)" class="form-control" name="PaymentStatus" />
                                    <span asp-validation-for="PaymentStatus" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                <button type="button" class="btn btn-primary" id="btnUpdate">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>











<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteAndDetailsModel" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure you want to delete the following Payment ?
            </div>

            <div class="modal-body" id="companyDetails">
                <!-- Company details will be populated dynamically by jQuery -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnDelete">Delete</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="module" src="~/js/dashboard/payment.js"></script>
}